<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
        <h3>Create New Listings</h3>
        <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
            <div>
                <label for="title" class="form-label">Title</label>
                <input name="listing[title]" placeholder="Enter title" type="text" class="form-control" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please enter a title.</div>
            </div>
            <div>
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" class="form-control" required></textarea>
                <div class="invalid-feedback">Please enter a short description.</div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" placeholder="1199" type="number" class="form-control" required>
                    <div class="invalid-feedback">Price should be valid.</div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" placeholder="India" type="text" class="form-control" required>
                    <div class="invalid-feedback">Country name should be valid.</div>
                </div>
            </div>
            <div>
                <label for="location" class="form-label">Location</label>
                <input name="listing[location]" placeholder="Rajpur,Kolkata" type="text" class="form-control" required>
                <div class="invalid-feedback">Please enter a valid location.</div>
            </div>
            <!-- <div>
                <label for="image" class="form-label">Image Link</label>
                <input name="listing[image][url]" placeholder="Enter image url" type="text" class="form-control">
            </div> -->
            <div>
                <label for="image" class="form-label">Upload Image</label>
                <input name="listing[image][url]" type="file" class="form-control">
            </div>
            <button class="btn add-btn mt-3">ADD</button>
            <br> <br>
        </form>
        </div>
    </div>
</body>
